/* #caixa {
    width: 300px;
    height: 300px;
    background: #b9c941;
    padding: 10px;
    border-radius: 5px 50px 50px 140px;
    border-radius: 20px 50px;
    -webkit-border-radius: 20px 50px;
    -moz-border-radius: 20px 50px;
    margin-left: 20px;
    margin-top: 20px;
} */

#caixa {
    width: 300px;
    height: 300px;
    background: #b9c941;
    padding: 50px;
    box-sizing: border-box;
    /* border-radius: 20px 50px; */
    /* -webkit-border-radius: 20px 50px; */
    /* -moz-border-radius: 20px 50px; */
    
}

#caixa2 {
    width: 300px;
    height: 300px;
    background: #b9c941;
    /* padding: 50px; */
    /* border-radius: 20px 50px; */
    /* -webkit-border-radius: 20px 50px; */
    /* -moz-border-radius: 20px 50px; */
    
}