body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif, sans-serif;
    background #f2f2f2;
}

#container {
    border: 1px solid red;
    width: 90%;
    margin: 0 auto;
    background: #fff;
    min-width: 720px;
    /* max-width: 960px; */
}

#marca {
    width: 100%;
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}



#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}

#conteudo {
    border: 1px solid red;
    width: 75%;
    float: right;
}


#navegacao {
    border: 1px solid red;
    width: 23%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#conteudo-principal {
    border: 1px solid red;
    width: 63%;
    float: left;
}

#conteudo-secundario {
    border: 1px solid red;
    width: 34%;
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;
}



#navegacao ul {
    list-style: none;
}

#navegacao li a {
    border: 1px solid red;
    text-decoration: none;
}