/* Limpar formatações padrão */

* {
    margin: 0;
    padding: 0;
}

/* LAYOUT */

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Helvetica', Arial, sans-serif;
    background: #242424;
}

#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
    border: 1px solid red;
}

#area-logo, #area-menu {
    padding: 10px;
    border: 1px solid red;

}


#area-principal {
    /* border: 1px solid red; */
    background: white;
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens {
    width: 660px;
    float: left;
}

/* #area-lateral {
    background: orange;
} */

#area-lateral {
    width: 240px;
    float: right;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
}

.conteudo-lateral {
    background: rgb(241, 241, 241);
    padding: 10px;
    margin-bottom: 20px;
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
    /* border-bottom: 2px dotted #ccc; */
} 


/* Formatação do menu */
a {
    text-decoration: none;
    border: 1px solid red;
}

a:link, a:visited {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #FFF;
    padding: 8px 12px;
}

#area-cabecalho a:hover {
    color: #f7b600;
    background: #fff;
    text-decoration: none;
    /* border-bottom: 1px solid #f4f4f4; */

}


/* Formatações em geral */

h1 {
    color: #4e4e4e;
    font-size: 3em;
}

h2 {
    color: orange;
}

h3 {
    color: #565656;
    background: orange;
    padding: 5px;
}

.branco {
    color: white;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
    /* border: 1px solid red;  */
}

.postagem-lateral {
    font-size: 0.8em;
    padding: 5px;
} 