/* SELETOR UNIVERSAL */
* {
    /* border: 1px solid red; */
}

/* SELETOR DE TEXTO */
h1 {
    /* color: greenyellow; */
}
/* SELETOR DE CLASSE */
.verde {
    color: lightseagreen;
}

p.verde {
    /* color: limegreen; */
}

/* Seletor ID */
#cabecalho {
    border: 1px solid blue;
}

/* Seletor de Filho */
li>a:hover {
    text-decoration: none;
    /* background: limegreen; */
    border-bottom: 2px solid magenta;
}

span>a {
    background: red;
}


/* seletor descendente */
p a {
    color: rgb(23, 211, 54);
}

/* Seletor de irmão adjacente */
h1+p {
    color: red;
}

/* Seletor de irmão geral */
h1~p {
    color: lightcoral;
}